.containerPerfil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 86.5vh;
  background-color: #efefef;
}

.containerPerfil h4 {
  font-weight: 400;
  margin-top: 10%;
  font-size: 20px;
}

.containerPerfil button {
  padding: 20px 50px;
  width: 80%;
  border-radius: 15px;
  border: solid #ff5e00 2px;
  background-color: #3333339f;
  color: white;
  font-size: 20px;
  margin: 35px 0;
}

.containerPerfil button:nth-child( 4 ) {
  width: 40%;
  padding: 10px 30px;
  margin-top: 30%;
  border-radius: 15px;
  background: none;
  border: none;
  font-size: 25px;
  color: #ff5e00;
  text-decoration:underline


}
