.containerFavorito {
  height: 100vh;
  background: #efefef;
  
}

.containerFavorito p:nth-child(2){
  outline: none;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.buttonFilter button {
  padding: 10px;
  width: 30%;
  font-size: 15px;
  background-color: rgba(124, 123, 123, 0.116);
  padding: 10px 15px;
  border-radius: 35px;
  color: #000000;
  border: none;
  white-space: nowrap;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 9px;
}

.iconButtons button {
  background: none;
  right: 50%;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0);
}